#dashHead{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin-top: -5px;
    padding: 10px;    
    padding-left: 25px;
	border:  1.5px solid rgba(37, 90, 154, 0.591);
    background-color: rgba(255, 255, 255, 0.85);
}

#dashHead h1{
    display: inline;    
    color: rgb(19, 40, 66);
    font-size: 18px;
}

#dashHead button{
    background: rgb(59, 82, 113);  
    border-radius: 2px;  
    font-size: 11px;
    color: white;
    border: none;
    padding: 7px; 
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 8px;
}

#dashHead button:hover{
    background: rgb(28, 43, 63);
}

#dashBody{
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3px;    
	border:  1.5px solid rgba(37, 90, 154, 0.591);
    margin-top: 20px;
    width: 72.5vw;
    padding: 23px;
}

#dashBody table {
	border-collapse: collapse;
    border-radius: 3px;
    border: 1.3px solid #00000046;
    font-size: 12px;
    width: 72.5vw;
}
#dashBody table td {
	padding: 11px;
    padding-right: 38px;
    padding-left: 25px;
    border-top: 1.3px solid rgba(63, 63, 63, 0.663);  
}
#dashBody table th {
    font-weight: bold;
    font-size: 14px;
    text-align: left;   
    padding: 11px; 
    padding-left: 25px;   
    color: white;
    background-color: rgba(66, 99, 131, 0.868); 
}
#dashBody table thead td {
	font-weight: bold;
    padding-left: 20px;
}

#dashBody td button{
    background: rgba(48, 76, 104, 0.868);
    border-radius: 2px;  
    font-size: 12px;
    color: white;
    border: none;
    padding: 4px; 
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -8px;
    margin-left: 0px;
}

#dashBody td button:hover{
    background: rgba(19, 33, 48, 0.868);
}
