button{


    background-color: rgb(77, 48, 236);
    border-radius: 10px;
    height: 40px;
    width: 100px;
    color: white;
    border: none ;
}


#userHead{

display: flex;
align-items: center;
justify-content: space-between;

}

#userbody{


    background-color: white;
    width: 1000px ;
    /* height: 100vh ; */
}

/* #body{



    background-color: white;
} */

body{


    display: flex;
    flex-direction: column;
    /* margin-left: 130px; */

}


table{


    margin: 35px;

    min-width: 800px;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 15px;
    border: 2px solid whitesmoke;

    overflow: hidden;
    padding: 10px;

   }

   th,td{


    border-bottom: 1px solid whitesmoke;
    min-width: 280px;
    text-align: left;


   }


   table thead tr{

    font-weight: bold;
    background-color: whitesmoke;
    height: 60px;
    /* border-color: #009879; */
    color: rgb(0, 0, 0);



   }

   tbody{


    /* height:600px; */
    background-color: white;
   }





