
#userHead{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin-top: -5px;
    padding: 10px;    
    padding-left: 25px;
}

#userHead h1 {
    display: inline;
}

#userHead button{
    background: rgb(59, 82, 113);  
    border-radius: 2px;  
    font-size: 13px;
    color: white;
    border: none;
    padding: 7px; 
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 8px;
}

#userHead button:hover{
    background: rgb(28, 43, 63);
}

#userbody{
    border-radius: 3px;    
	border:  1.5px solid rgba(37, 90, 154, 0.591);
    margin-top: 20px;
    width: 71.5vw;
    padding: 25px;
}

h1{
    color: rgb(19, 40, 66);
    font-size: 21px;
}

table {
	border-collapse: collapse;
    border-radius: 3px;
    border: 1.3px solid #00000046;
    font-size: 12px;
    width: 71.5vw;
}
table td {
	padding: 11px;
    padding-right: 40px;
    padding-left: 25px;
    border-top: 1.3px solid rgba(63, 63, 63, 0.663);  
}
table th {
    font-weight: bold;
    font-size: 14px;
    text-align: left;   
    padding: 11px; 
    padding-left: 25px;   
    color: white;
    background-color: rgba(72, 108, 144, 0.868);
}
table thead td {
	font-weight: bold;
    padding-left: 20px;
}

   
